:root {
    --kprimary: #131417;
    --kprimary2: #131417;
    --kprimary3: rgba(255, 255, 255, 0.966);
    --kprimary4: #1e1f26;
    --kprimary5: #fdec6e;
    --kheadings: rgba(255, 255, 255, 0.966);
}

html {
    min-height: 100%;
    
}

body {
    background-color: var(--kprimary);
    color: var(--kprimary3);
    overflow-x: hidden;
    font-family: 'Rubik', sans-serif;
}

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    overflow: hidden;
    background: #000000;
  }
  
  #preloader:before {
    content: "";
    position: fixed;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    border: 6px solid #2487ce;
    border-top-color: #fff;
    border-bottom-color: #fff;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    -webkit-animation: animate-preloader 1s linear infinite;
    animation: animate-preloader 1s linear infinite;
  }
  
  @-webkit-keyframes animate-preloader {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes animate-preloader {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

.gl {
    color: var(--kprimary3);
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    font-family: 'Josefin Slab', serif;
    text-transform: uppercase;
}
  
.gl:hover {
    color:var(--kprimary5);
    text-shadow:0px 0px 30px #fdec6e;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

.name2 {
    font-family: 'Josefin Slab', serif;
    text-transform: lowercase;
}


.navbar {
    background-color: var(--kprimary4);
}

.navbar .nav-link {
    font-size: 15px;
    text-transform: uppercase;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}

.navbar .nav-item.active {
    border-left: #444 3px solid;
}

#about {
    margin-top: 6.6rem;
}

#about .icon {
    color: var(--kprimary3);
}

.abc {
    font-family: 'Josefin Slab', serif;
    color: rgb(237, 238, 211);
}

#education .card {
    background-color: var(--kprimary4);
    border-radius: 3;
}

.img-icon {
    height: 4rem;
    width: 4rem;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.plang {
    border-radius: 6px;
    box-shadow: 5px 0 15px rgba(0,0,0,.25);
    position: relative;
    transform: scale(.95);
    transition: all .3s ease;
}

#experience .card {
    background-color: var(--kprimary4);
}

#community .card {
    background-color:  var(--kprimary4);
}

#achievements .card {
    background-color:  var(--kprimary4);
}

#paper .card {
    background-color:  var(--kprimary4);
}

#projects .card {
    background-color:  var(--kprimary4);
}

#blog .card {
    background-color:  var(--kprimary4);
}

#blog .about-img {
    height: 6rem;
    width: 6rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
}

#blog .icon {
    color: #f5f7fa;
}

hr {
    border-top: 1px solid #f5f7fa;
}

video {
    height: 20rem;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}